# Python 3.8.10

einops
mlflow
opencv-python
tqdm
yacs
pytorch-lightning==1.1.4
-f https://download.pytorch.org/whl/torch_stable.html

# Cuda 113
# torch==1.12.1+cu113
# -f  https://download.pytorch.org/whl/torch_stable.html
# torchvision==0.13.1+cu113

# Cuda 117 versions, compatible with 118
torch==1.13.1+cu117
-f  https://download.pytorch.org/whl/torch_stable.html
torchvision==0.14.1+cu117
